:root {
    --font-size-24-1440: 1.67vw;
    --color-b: #646DBB;
    --color-w: #E8EDD9;
    --color-db: #444A7F;
    --ff-vac: FontSpringText;
    --ff-cs: CruffySans;
    --ff-usm: UncutSans;
    --ff-usr: UncutSansRegular;
}

#menu_nav {
    filter: invert(1);
}

#close_nav {
    filter: invert(1);
}

.body {
    position: relative;
    min-height: 89.11vw;
    width: 100vw;
    background-image: url('../resources/bg_c-min.png');
    background-repeat: repeat-y;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.body::before {
    content: "";
    position: absolute;
    min-height: 100%;
    width: 100vw;
    background: url('../resources/Texture\ Pattern\ \(to\ be\ used\ as\ Color\ Burn\).jpg'), url('../resources/top\ black\ overlay\ for\ infinite\ tiles-min.jpg');
    background-repeat: repeat, repeat;
    background-position: center, center;
    mix-blend-mode: color-burn;
}

.search_box {
    height: 33vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_1 {
    height: 3.40vw;
    width: 86.11vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    z-index: 5000;
}

.search {
    height: 2.08vw;
    width: 41.66vw;
    background: none;
    border: none;
    border-bottom: 0.069vw solid var(--color-w);
    position: relative;
    color: var(--color-w);
    font-size: var(--font-size-24-1440);
    outline: none;
}

.search::placeholder {
    color: var(--color-w);
    font-size: var(--font-size-24-1440);
    opacity: 0.7;
    margin: auto 0vw;
}

.magnifying_glass {
    filter: invert(1);
    position: relative !important;
    right: 2vw;
}

.magnifying_glass:hover {
    cursor: pointer;
}

.fa-active {
    transition: all 0.1s;
    animation-duration: 0.1s;
    animation-name: move-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.modules {
    height: 3.40vw;
    width: 26.87vw;
    background: var(--color-b);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: var(--font-size-20-1440);
    color: var(--color-w);
    box-sizing: border-box;
    font-family: 'UncutSans';
    border-radius: 0.55vw;
}

.modules:hover {
    cursor: pointer;
}

.modules p {
    font-family: var(--ff-usr);
    padding: 1.11vw 1.11vw;
}

.para_cover p {
    text-overflow: ellipsis;
    line-clamp: 1;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    width: 40vw;
}

.fa-sort-down {
    height: 2vw;
    width: 4vw;
    position: relative;
    top: 0.95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.small_box {
    position: absolute;
    right: 0.6vw;
    filter: invert(1);
}

.list_container {
    position: absolute;
    top: 12vh;
    right: 5.80vw;
    height: 42.28vw;
    z-index: 10;
}

.list {
    background: var(--color-db);
    height: 0vw;
    width: 26.87vw;
    position: absolute;
    margin-top: 2vh;
    box-sizing: border-box;
    display: block;
    align-items: center;
    border-radius: 0.55vw;
    display: grid;
    z-index: 10;
    overflow: hidden;

}

/* .list_active {
    display: grid;
    animation-name: list-anime;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;
} */

/* @keyframes list-anime {
    0% {
        height: 0;
    }

    100% {
        height: 33.88vw;
    }
} */

.list ul {
    list-style: none;
    height: 96%;
    width: 23.88vw;
    margin-left: 1.25vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes hamburger1 {
    0% {
        display: none;
    }

    90% {
        display: none;
    }

    100% {
        display: block;
    }
}

.list ul li {
    font-family: var(--ff-usr);
    font-weight: 400;
    font-size: var(--font-size-20-1440);
    color: white;
    animation-name: hamburger1;
    animation-duration: 0.502s;
    transition-timing-function: ease-in;
    white-space: nowrap;
}

.list ul li:hover {
    cursor: pointer;
}

.comp_title {
    /* margin: 3vw 0vw 2.5vw 0vw; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.comp_title h2 {
    font-size: 3.93vw;
    color: var(--color2);
    font-family: var();
}

.item_box {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.item_box::before {
    content: '';
    min-height: 69.12vw;
    width: 100vw;
    background-image: url('../resources/Stairs.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 46.2vw 13.8vw;
    z-index: 1;
    mix-blend-mode: normal;
    position: absolute;
    bottom: 0;
    animation-name: stairs;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

span{
    font-size: 1vw;
}

@keyframes stairs {
    0% {
        background-position: 46.2vw 13.8vw;
    }

    100% {
        background-position: 60.48vw 0.7vw;
    }
}

.item_container {
    height: auto;
    width: 86.12vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

.icon {
    height: 100%;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 2vw 0vw;
}

.iconsIMG {
    height: auto;
    width: 100%;
}

.icon_text {
    margin: 1vw 0vw;
    color: white;
    font-size: 1.94vw;
    font-weight: 700;
}

.margin_top_text {
    margin-top: 1vw;
}

.capital_prop_name {
    text-align: center;
}

.above_texture {
    z-index: 5;
}



#Literary{
    margin-bottom: 5vw 0vw !important;
}

@media screen and (max-width: 1000px) {
   

    .comp_title{
        margin-top: 2vh;
    }
    .item_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon_text {
        font-size: 6vw;
    }

    .icon {
        height: auto;
        width: auto;
    }

    .search {
        height: 5vw !important;
        width: 60vw !important;
        font-size: 5vw;
    }

    .search::placeholder {
        font-size: 5vw;
    }

    .container_1 {
        height: auto;
    }

    .modules {
        height: auto;
        width: 50vw;
    }

    .list {
        height: auto;
        width: 50vw;
    }

    .list ul {
        height: auto;
    }

    span{
        font-size: 4vw;
    }

    .list ul li {
        padding: 1vw 0vw;
        font-size: 4vw;
    }

    .modules p {
        font-size: 5vw;
        padding: 1vw;
    }
}

@media screen and (max-width: 800px) {
    .item_container {
        grid-template-columns: repeat(1, 1fr);
    }
}