@media (max-width: 1000px) {

  .list_container {
    position: absolute;
    top: 25vh;
    right: auto;
  }

  .title h2 {
    font-size: 5vw;
  }

  .container_1 {
    flex-direction: column;
    height: 20vh !important;
    justify-content: space-evenly;
  }

  .search {
    height: 2vh;
  }

  .modules{
    height: 8vw;
  }
  
  .wide_para{
    width: 40vw;
    border: 1px solid red;
  }

  .magnifying_glass{
    height: 4vw;
    width: 4vw;
    right: 4vw;
  }

  .fa-sort-down{
    height: 5vw;
    width: 5vw;
    top: -1vw;
  }

  .small_box{
    right: 0.8vw;
  }

}

@media screen and (max-width: 1500px) and (min-width: 1200px){
  .list_container{
    top: 13.5vh !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px){
  .list_container{
    top: 15vh !important;
  }
}