html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

#info {
  position: absolute;
  top: 10px;
  right: 295px;
  text-align: right;
  background: #181c20;
  color: #8c92a4;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  pointer-events: none;
  font-family: var(--leva-fonts-mono);
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}

.annotationDescription {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5em;
  display: block;
}

/* @font-face {
  font-family: 'my-custom-font';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  src: url('public/assets/clock.ttf');                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
} */

.return {
  cursor: pointer;
  padding: 1.2rem;
  color: azure;
  background: rgb(219, 54, 69);
  background: linear-gradient(
    122deg,
    rgba(219, 54, 69, 1) 18%,
    rgba(164, 14, 14, 1) 40%,
    rgba(0, 0, 0, 1) 82%
  );
  border-radius: 1rem;
  translate: 130px 45vh;
  border: none;
  outline: none;
}

.blur {
  /* backdrop-filter: blur(1px); */
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-family: Helvetica, sans-serif;
  /* background: rgba(0, 0, 0, 0.66); */
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 9%, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blur p {
  min-width: 50vw;
  display: flex;
  align-items: center;
}
