html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  -ms-content-zooming: none  disable browser zoom;
}

@font-face {
  font-family: headingAlcher;
  src: url('../../../public/CruyffSans-Bold.ecd5078c.woff2');
}

@font-face {
  font-family: normalText;
  src: url('../../../public/Uncut-Sans-Medium.woff2');
}

#info {
  position: absolute;
  top: 10px;
  right: 295px;
  text-align: right;
  background: #181c20;
  color: #8c92a4;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  pointer-events: none;
  font-family: var(--leva-fonts-mono);
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}

.annotationDescription {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5em;
  display: block;
}

/* @font-face {
  font-family: 'my-custom-font';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  src: url('public/assets/clock.ttf');                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
} */

.return {
  cursor: pointer;
  padding: 1rem;
  font-size: large;
  color: white;
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 9%, 0.3);
  border-radius: 50%;
  translate: -70px -120px;
  border: none;
  outline: none;
}

.blur {
  padding: 0 20%;
  border-radius: 0.5rem;
  width: fit-content;
  font-family: Helvetica, sans-serif;
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 9%, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.blur p {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.title{
  display: flex;
  gap: 10px;
  align-items: center;
}
@font-face {
  font-family: 'basicHeading';
  src: url('/UncutSans.ttf') format('truetype');
  font-family: 'demoFont';
  src:url('/demo.otf') format ('truetype');
}

html,
body {
  width: 100%;
  height:100vh;
  overflow-x: hidden;
  background-image: url('/TexturePattern.jpg');
  background-blend-mode: color-burn;
  background-color: #141414;
  color: #34362f;
}
.mainContainer{
 
  width:100%;
  height:100%;
  
}
.videoWrapper{
  position: relative;
  top:10vh;
  width:80%;
  margin:0px auto;
  height:80vh;
  border-radius: 1.2rem;
  background-color: #39a27a;
  transform: rotate(2deg);
}
.videoBox{
  width:99%;
  margin:0px auto;
  aspect-ratio: 2519/1034;
  height:99%;
  background-color: #7266F8;
  border-radius: 1.2rem;
  transform: rotate(-2deg);
  overflow: hidden;
}
iframe{
  width:100%;
  height:100%;
}

.decorationContainer{
  margin-top:15rem;
  width:100%;
  height:80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left .right{
  width:20%;
}

.centerDiv{
  width:60%;
  position: relative;
  height:fit-content
}

.Animations_animes__8kF5l{
  width:100%;
  position: absolute;
  top:48%;
}



.image{
  width:100%;
}

.center-image{
  display: block;
  width:90%;
  margin:0px auto;
}


.merchSection{
  margin-top:10rem;
  width:100%;
  height:70vh;
}
.mainImage{
  position: relative;
  width:80%;
  margin:0px auto;
  display:flex;
  justify-content: center;
}
.sponsor{
  margin-bottom: 10rem;
}

.splideWrapper{
  display:flex;
  position: relative;
  align-items: center;
  margin-top: 15rem;
}
.splide{
  width:90%;
  margin:0px auto;
  z-index:10;
}
.splide__slide img{
  height:20vh;
}
#leftGate{
  position: absolute;
  left:0;
  height:40vh;
  top:-10vh;
}
#rightGate{
  position: absolute;
  height:40vh;
  right:0;
  top:-10vh;  
}
.passesSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top:10rem;
}
#getYour{
  color:#FFFFFF;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-family: normalText;
  font-weight: 900;
}


#alcherPass{
  color:#F22C5B;
  font-size: 3rem;
  margin-bottom: 1.4rem;
  font-family: headingAlcher;
}


#registerBtn{
  width:fit-content;
  height: fit-content;
  padding:0.4rem 1rem;
  color:white;
  font-size: 1.2rem;
  outline:none;
  border: none;
  border-radius: 1rem;
  background-color: #F22C5B;
  cursor: pointer;
  font-family: headingAlcher;
}
.cardHoverSection{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width:100%;
  height:fit-content;
  position: relative;
}
.cardHoverSection img{
  width:30vw;
  transform: rotate(-98deg);
}
#cardHoverLeft{
  transform: rotate(0deg) scale(1.2);
  position: absolute;
  left:20vw;
  transition: all 0.4s ease-in-out;
}
#cardHoverRight{
  position: absolute;
  transform: rotate(0deg) scale(1.2);
  top:1vh;
  left: 46vw; 
  transition: all 0.4s ease-in-out;
}

.cardHoverSection.hovered #cardHoverLeft {
  transform: rotate(-10deg);
}

.cardHoverSection.hovered #cardHoverRight {
  transform: rotate(10deg);
}

/* #cardHoverLeft:hover{
  transform: rotate(60deg);
}
#cardHoverRight:hover{
  transform: rotate(-60deg);
} */

.threeDWrapper{
  width:100%;
  height:100vh;
  position: relative;
}

#ui {
  position: absolute;
  bottom:5vh;
  width:fit-content;
  height: fit-content;
  left:50%;
}

.content-btn{
  font-size:2.5rem;
  position: relative;
  color:white;
  opacity:0.4;
  animation: moveUpDown 2s ease-in-out infinite;
}

.getAppSection{
  width:100%;
  height:100%;
  position: relative;
  margin-top:6rem;
  display: flex;
}
#upperHand{
  position: absolute;
  right:0;
  width:25vw;
}
#lowerHand{
  position: absolute;
  left:0;
  bottom:-5vh;
  width:25vw;
}
.textSection{
  margin-top: 10vh;
  width:50%;
  height:90%;
}
.imageWrapper{
  width:50%;
  height:100%;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  position: relative;
}

.img-cont{
  width:40%;
  height:60%;
  background-color: #7266F8;
  border:1px solid white;
  margin:2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkModeImage{
  transform: rotate(-8deg);
  position: absolute;
  z-index:2;
}

.lightModeImage{
  position: absolute;
  left:40%;
  bottom:2%;
  transform: rotate(10deg);
}  

.img-section{
  border-radius: 1.2rem;
  width:100%;
  height:100%;
  background-color: #F22C5B;
}
 .img-dark{
  transform: rotate(3deg);
  z-index:2;
 }

 
 .img-light{
  transform: rotate(-4deg);
 }





#text{
  height:100%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#text h1{
  color : #AADCDB;
  font-size: 3.2rem;
  font-family: headingAlcher;
}

#text p{
  margin-top:2vh;
  font-size: 1.2rem;
  font-family: normalText;
  color: white;
}

.googlePlayImage{
  width:15vw;
  height:15vw;
  cursor: pointer;
}

@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}




@media screen and (max-width:1100px){
  #text h1{
    font-size: 2.8vw;
  }
  #text p{
    font-size: 1.2vw;
  }
}



@media screen and (max-width:912px){
  .splide__slide{
    margin:0px 5rem;
  }
  #cardHoverLeft {
    transform:  rotate(10deg);
    left:25vw;
  }
  #cardHoverRight{
    transform: rotate(-10deg);
    left:44vw;
  }
  .cardHoverSection{
    margin-top: 2rem;
  }
  .videoWrapper{
    height:50vh;
  }
  .getAppSection{
    height:70%;
  }
  #text h1{
    font-size: 2.6rem;
  }
  .imageWrapper{
    height:45vh;
    margin:auto 0;
  }
}

@media screen and (max-width:830px){
  #cardHoverLeft{
    left:24vw;
  }
  .videoWrapper{
    height:54vh
  }
  .getAppSection{
    height:70%;
  }
  #text h1{
    font-size: 3.2vw;
  }
  #text p{
    font-size: 1.2vw;
  }
  .imageWrapper{
    height:45vh;
    margin:auto 0;
  }

}

@media screen and (max-width:550px) {
  .decorationContainer{
    margin-top: 6rem;
  }

  #alcherPass{
    font-size: 2.5rem;
    
  }

  .imageWrapper{
    height:50vh;
  }
  #text{
    margin-left: 2rem;
  }

  .textSection{
    margin-top: 5vh;
  }
  .cardHoverSection{
    transform: scale(1.4)
  }
  .left , .right{
    width:28%;
  }
}


@media screen and (max-width:420px){
  .decorationContainer{
    margin-top: 2rem;
  }
  #leftGate ,#rightGate{
    height:35vh;
  }
  .splideWrapper{
    margin-top: 0;
  }
  .sponsorImage{
   width:100px;
   height:100px;
  }
  #alcherPass{
    font-size: 1.8rem;
  }
  .cardHoverSection{
    margin-top: 2rem;
  }

  #cardHoverLeft , #cardHoverRight{
    transform: scale(1.4);
  }
  .videoWrapper{
    height:34vh;
    width:90%;
  }
  #registerBtn{
    font-size: 1rem;
  }

  .getAppSection{
    height:40%;
  }


  .img-cont{
    border-radius: 0.6rem;
  }

  .img-section{
    border-radius: 0.6rem;
  }

  .imageWrapper{
    height: 39vh;
  }
  .darkModeImage , .lightModeImage{
    margin:0;
  }

  .lightModeImage{
    bottom:2vh;
  }
}

@media screen and (max-width:300px){
  #getYour{
    font-size: 0.9rem;
  }
  #alcherPass{
    font-size: 1.2rem;
  }
  .decorationContainer{
    margin-top: 2rem;
  }
  .getAppSection{
    height:35%;
  }
}

@media (max-width:1000px) and (orientation:landscape){
  .getAppSection{
    height:100%;
  }
  #text h1{
    font-size: 2vw;
  }
  .imageWrapper{
    transform: scale(1.2);
    margin-top: 4rem;
    width:34%;
    height:93%;
  }
}