.c{
    border-radius: 2.7vw;
}

.c a{
    color: black !important;
    font-weight: 600 !important;
}

.c1{
    background-color: #FA584E;
}

.c2{
    background-color: #FF8835;
}

.c3{
    background-color: #39A27A;
}

.c4{
    background-color: brown;
}

.c5{
    background-color: brown;
}

.c6{
    background-color: #F77CFF;
}

.c7{
    background-color: #AADCDB;
}