

@font-face {
    font-family: 'FontSpringText';
    src:url('../../../../../public/Vacation-Heavy.ttf')
  }

:root{
    --color1: #141414 !important;
    --opacity-1: 0.8;
}

.header{
    background-color: #141414;
    position: relative;
    width: 100vw;
    height: 6vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    background-image: url('../../../../../public/texture_black_bg.jpg');
    background-blend-mode:color-burn;
    z-index: 30000;
}

.logo{
    height:fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opacity-1);
}

.logo a{
    font-family:FontSpringText;
    font-size: 2vw;
}

.navbar_menu{
    height: 2.62vw;
    width: 50.97vw;
}

.navbar_menu ul{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}

.navbar_menu ul li{
    font-family: 'FontSpringText';
    font-weight: 700;
    font-size: 1.31vw;
    height: 2.62vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opacity-1) !important;
}

.navbar_menu ul li a{
    text-decoration: none;
    color: white;
    padding: 0.66vw 0.66vw 0.66vw 0.66vw;
}

.register{
    color: #141414;
    height: 2.49vw;
    width: 8.32vw;
    border-radius: 10vw;
    border: none;
    opacity: var(--opacity-1);
    box-sizing: border-box;
}

.register a{
    font-family: 'UncutSans';
    font-size: var(--font-size1);
    font-weight: 700;
    text-decoration: none;
    color: #141414;
    margin: auto;
}

.sit_box{
    display: none;
}

.fixing{ 
    width: 11.56vw;
    display: flex;
    justify-content: center;  
}

.cred{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0vw 4vw 0vw 0vw;
}

.hidden_box{
    display: none;
}

.capital_prop_name{
    margin: auto;
}

.icon_ham{
    height: 4vw;
    height: 4vw;
    display: none;
    fill: white;
    z-index: 10;
}

@media screen and (orientation: portrait){
    
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        height: 14vw;
    }

    #icons{
        display: block;
    }

    .logo{
        position: absolute;
        left: -1vw;
    }

    .register{
        position: absolute;
        right: 14vw;
        top: 4vw;
    }

    .icon_ham{
        position: absolute;
        right: 3vw !important;
    }

    .navbar_menu{
        position: relative;
        width: 46.81vw !important;
        height: 71.24vw;
        top: 42.5vw;
        left: 48.8vw;
        background-color: #141414;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 300000;
        overflow: hidden;
        background-image: url('../../../../../public/texture_black_bg.jpg');
        background-blend-mode:color-burn;
    }


    .navbar_menu.active{
        display: grid;
        position: absolute;
        top:0;
        right:0;    
        place-items: center;
        animation-duration: 0.4s;
    }
    
    .navbar_menu ul{
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 58.84vw;
        width: 33vw;
        margin: auto;
        z-index: 2;
    }

    .navbar_menu ul li{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        font-size: 4.07vw;
        margin: auto;
        animation-name: hamburger1;
        animation-duration: 0.401s;
        transition-timing-function: ease-in;
        height: 6.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_menu ul li a{
        padding: 0 1.4vw;
        height: 6.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes hamburger1{
        0%{
            color: transparent;
        }
        80%{
            color: transparent;  
        }
        100%{
            color: white;
        }
    }

    .register{
        color: #141414;
        height: 7.65vw;
        width: 50.57vw;
        border-radius: 10vw;
        border: none;
        margin-left: auto;
    }
    
    .icon_ham{
        color: white;
        background-color: transparent;
        outline: none;
        border: none;
        height: 6vw;
        width: 6vw;
        /* position: absolute; */
        right: 6vw;
        display: flex;
    }

    .off_state{
        display: none;
    }

    .fixing{
        height: auto;
        width: 35vw;
    }

    .register{
        width: 25vw;
        height: 5.65vw;
    }

    .register a{
        font-size: 4.07vw;
    }

    .logo{
       height: 5.73vw;
       width: 40.96vw;
    }

    .logo a{
        font-size: 6vw;
    }
    
}