.reg_bg1{
    background-color: #FA584E !important;
}

.reg_bg2{
    background-color: #FF8835 !important;
}

.reg_bg3{
    background-color: #39A27A !important;
}

.reg_bg4{
    background-color: aqua !important;
}

.reg_bg5{
    background-color: aqua !important;
}

.reg_bg6{
    background-color: #F77CFF !important;
}

.reg_bg7{
    background-color: #AADCDB !important;
}