.reg_bg1{
    background-color: #FA584E;
}

.reg_bg2{
    background-color: #FF8835;
}

.reg_bg3{
    background-color: #39A27A;
}

.reg_bg4{
    background-color: aqua;
}

.reg_bg5{
    background-color: aqua;
}

.reg_bg6{
    background-color: #F77CFF;
}

.reg_bg7{
    background-color: #AADCDB;
}