

:root{
    --color1: #141414;
    --font-size1: 1.31vw;
    --font-size-16-1440: 1.11vw;
    --font-size-20-1440: 1.38vw;
    --ff-vac: FontSpringText;
    --ff-cs: CruffySans;
    --ff-usm: UncutSans;
    --ff-usr: UncutSansRegular;
}

.container_footer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.container_footer::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background: url("../../../../../public/footer_img/texture_footer.png");
    background-position: center;
    background-size: cover;
    mix-blend-mode: color-burn;
    z-index: 1;
}

.navbar_footer{
    margin: 0;
    padding: 0;
    position: relative;
    height: 10vh;
    width: 100vw;
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_menu_footer{
    height: 2.62vw;
    width: 50.97vw;
}

.navbar_footer ul{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    z-index: 20;
}

.navbar_footer ul li{
    font-weight: 400;
    font-size: 1.31vw;
    height: 2.62vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
}

.navbar_footer ul li a{
    text-decoration: none;
    color: white;
    padding: 0.66vw 0.66vw 0.66vw 0.66vw;
    font-family: var(--ff-vac);
}

.footer{
    position: relative;
    background: var(--color1);
    background-image: url('../../../../../public/footer_img/Spiral.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 7vw center;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
.circle_box{
    height: 12.8vh;
    width: 88vw;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    z-index: 1;
}

.circle_box img{
    height: 5.82vw;
    width: 5.82vw;
}

#circle_2nd_img{
    margin-left: auto;
}

.extra_box{
    height: 50vh;
    width: 100vw;
}

.windows_box{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.windows_img{
    display: inline-block;
    height: 100%;
    width: 87.73vw;
    height: auto;
}

.complex_grid{
    position: absolute;
    height: auto;
    top: -16vw;
    width: 48vw;
    top: 0;
    display: grid;
    grid-template-columns: 4.24vw auto 4.24vw auto 4.27vw;
    grid-template-rows: 4.27vw 8.30vw;
}

.alcheringa{
    height: auto;
    width: 48vw;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
}

.credits_1{
    width: 87vw;
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.cred{
    width: 24vw;
}

.cred_1{
    margin-left: auto;
}

.cred h1,p{
    font-family: var(--ff-usr);
}

.cred h1{
    font-size: var(--font-size-20-1440);
    font-weight: 600;
}

.cred_1 h1{
    font-family: var(--ff-usr);
    font-size: var(--font-size-20-1440);
    font-weight: 600;
}

#seperate{
    height: 8.5vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#normal_text{
    width: 30vw;
    display: flex;
    justify-content: right;
    font-family: var(--ff-usr);
    font-size: var(--font-size-16-1440);
}

#seperate img{
    height: 1.38vw;
    width: 1.38vw;
}

.icons{
    width: 30vw;
    display: flex;
    justify-content: right;
    margin-top: 1vw;
}

.icons img{
    margin-left: 1.4vw;
    z-index: 2;
}

.credits_2{
    height: 11vh;
    width: 87vw;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: var(--ff-usr);
    font-size: var(--font-size-16-1440);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.extra_width{
    width: 50vw;
    display: inline-block;
}

.extra_width a{
    z-index: 100;
}

.credits_2 a{
    color: white;
    font-family: var(--ff-usr);
    font-size: var(--font-size-16-1440);
    text-decoration: underline;
}

.credits_2 a p{
    color: white;
    font-family: var(--ff-usr);
    font-size: var(--font-size-16-1440);
}

.hover_child{
    /* font-size: var(--font-size-16-1440); */
    /* padding-left: 20vw; */
    display: flex;
    justify-content: right;
    flex-direction: column;
}

/* .credits_2 div p{
    text-align: right;
} */

/* .credits_2 div a{
    text-decoration: none;
} */

.extra_width{
    display: flex !important;
    flex-direction: row;

}

.hover_child{
    display: none !important;
    /* border: 2px solid #111; */
    border-radius: 5px !important;
    background-color: #242424;
    text-align:center !important;
    color: #fff;
    font-size: 2vh;
    position: absolute;
    bottom:9vh;
    width: max-content;
    padding: 2vh 4vh;
    cursor: pointer;
    opacity: 0.9;
}

.hover_parent{
    cursor: pointer;
}

.hover_parent:hover .hover_child{
    display: block !important;
}

.info{
    font-family: var(--ff-usr);
    font-weight: 400;
    font-size: var(--font-size-16-1440);
    padding: 1vw 0vw 2vw 0vw;
}

#normal_text,#follow_text,#on_text{
    font-family: var(--ff-usr) !important;
}

.info a{
    font-size: 1vw;
}

.star{
    height: 4.27vw;
    width: 4.24vw;
    background-image: url('../../../../../public/footer_img/Star.png');
    background-position: center;
    background-size: cover;
    animation-name: all-spark;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes all-spark{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#spark1{
    animation-duration: 2.5s;
    transition: all 2s;
    animation-timing-function: ease-in-out;
}

#spark2{

    animation-duration: 4s;
    transition: all 2s;
}

#spark3{

    animation-duration: 8s;
    transition: all 2s;
}

#spark4{
    animation-duration: 2.5s;
    transition: all 2s;
    animation-timing-function: ease-in-out;
}

#spark5{
    animation-duration: 4s;
    transition: all 2s;
}

#spark6{
    animation-duration: 8s;
    transition: all 2s;
}

#follow_text,#on_text{
    display: none;
}

.img_hider{
    display: none;
}

.unactive{
    display: none;
}

.yt_icon{
    height: 1.38vw !important;
    width: 1.73vw !important;
}

.team_names_list_d{
    display: none;
    z-index: 10;
    border-radius: 1vw;
    background: gray;
    box-shadow: 0 0 3vw black;
    position: absolute;
    bottom: 5.4vw;
    display: none;
    height: 10vw;
}

.list_active_all{
    display: inline-block;
}

.hide_text_portrait{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

@media screen and (orientation:portrait){
    .extra_width a{
        font-size: 0.5vw;
    }
    /* #right_shift_1{
        
    } */
    #right_shift_2{
        right: 0;
    }
}