.sponsor_main{
  background-image: url('../../../../public/TexturePattern.jpg');
  /* background-blend-mode:color-burn; */
  text-align: center;
  color: white;
  font-size: 1.2vw;
  background-color: #141414;
  z-index: -0.99;
  position: relative;
}

.top_sun{
  width: 19vw;
  height: 20vw;
  background-image: url('../resources/sun.png');
  position: absolute;
  /* top: -4vw; */
  background-size: cover;
  z-index: 3;
}

.no_sponsor{
  display: none;
  z-index: -0.9;
  position: relative;
}

.after_sponsor{
  /* display: none; */
  position: relative;
  z-index: 2;
}

.coming_soon{
  z-index: -0.8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url("../resources/bg1.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.8;
}

.coming_soon::before{
  content: "";
  background-image: url("../resources/bg1.jpg");
  background-repeat: repeat;
  height: 100vw;
  opacity: 0.7;
  background-size:cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -0.5;
  /* visibility: hidden; */
}

.coming_soon h2{
  font-size: 6vw;
  position: relative;
  font-weight: 700;
}

.coming_soon h5{
  font-size: 2.5vw;
  font-weight: 500;
  position: relative;
}

.App {
  z-index: -30;
  position: relative;
  background-image: url("../resources/bg1.jpg");
  background-size:cover;
  background-repeat: repeat;
  padding-top: 8vw;
}

.App h1{
  font-size: 7vh;
}

/* .first_head_spon{
  font-size: 10vh;
} */

.title{
  font-size: 1vw;
  padding-top: 1.5vw;
  color: white;
}
.title h1{
  font-size: 4vh;
}
.titlesponsorimg{
  /* display: flex; */
  padding-left: 40vw;
  padding-top: 3.8vw;
  align-items: center;
}
.card_shadowt{
  height: 20vw;
  width: 20vw;
  background-color: #AADCDB;
  transform: rotate(2deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;
  margin-bottom: 4.3vh;
}

.cardt{
  height: 20vw;
  width: 20vw;
  background-color: #686FAB;
  transform: rotate(-2deg);
  border-radius: 1.3vw;

  /* z-index: 10; */
}
.imagecardt{
  height: 20vw ;
  width: 20vw;
  overflow: hidden; 
  /* object-fit: fill; */
  /* display: flex; */
  z-index: 10;
  /* position: relative; */
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

#imgdesign{
  height: 11.2vw;
  width:36.3vw ;
  z-index: 1;
  right: 30.5vw;
  position: absolute;
}
.cotitle{
  font-size: 0.85vw;
  padding-top: 2vw;
  color: white;
}
.cotitle h1{
  font-size: 3.6vh;
}
.cotitlesponsorimg{
 
  display: flex;
  padding-left: 40.6vw;
  padding-top: 2vw;
  align-items: center;

}
.card_shadowct{
  height: 18vw;
  width: 18vw;
  background-color: #AADCDB;
  transform: rotate(2deg);
  position: relative;
  z-index: 10;
  border-radius: 1.3vw;
  margin-bottom: 4vh;
}

/* .media_off_partner{
  width: 16vw;
  margin: 0 auto 6vh;
  aspect-ratio: 2/1;
  background-image: url('../resources/gplus.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.sp_list2{
  margin-top: 10vh;
}

.cardct{
  height: 18vw;
  width: 18vw;
  background-color: #686FAB;
  transform: rotate(-2deg);
  /* z-index: 10; */
  border-radius: 1.3vw;

}
.imagecardct{
  height: 18vw ;
  width: 18vw;
  overflow: hidden; 
  /* object-fit: fill; */
  /* display: flex; */
  z-index: 10;
  /* position: relative; */
  border-radius: 1.3vw;
  background-image: url('../resources/gucci.png');
  background-size: contain;
}

#coimgdesign{
  height: 9vw;
  width:33vw ;
  z-index: 1;
  right: 33vw;
  position: absolute;
}
.powered{
  font-size: 0.8vw;
  padding-top: 1.7vw;
  color: white;
}
.powered h1{
  font-size: 4vh;
}
.poweredimg{
  height: 10vw ;
  width: 16vw;
  margin: 2vw auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 1.3vw; */
}

#powered_by{
  background-image: url('../resources/SBI.jpg');
}

#in_asso_with1{
  background-image: url('../resources/sparx.png');
}

#in_asso_with2{
  background-image: url('../resources/prag_news.png');
}

#in_asso_with3{
  background-image: url('../resources/Assam_Tribune.png');
}

#trusted_by{
  background-image: url('../resources/Manikchand.png');
}

#connected_by{
  background-image: url('../resources/gplus.png');
}

.sponsorfooter{
   /* display: grid; */
   padding-top: 2vw;
  /* padding-left: 10vw; */
  padding-bottom: 2vw;
  /* border-bottom: 0.5vw solid black; */
}

/* .sponsor_row{
  align-items: center;
  display: flex;
  gap:1vw;
  height: 22.5vh;
    padding-top: 8vw;
    padding-bottom: 2.1vw;
    /* border: 3px solid greenyellow;} */
 

.sponsor_card{
  color: #fff;
  flex-direction: column;
  height: 29.3vh;
  text-decoration: none;
  width: 20vw;
  align-items: center;
    display: flex;
    padding-bottom: 2vw;
    /* border: 5px solid red; */
}
#sponsorimage{
  
  width: 15vw ;
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
  object-fit: cover;
}

.sponsor_name{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  padding-bottom: 0.5vh;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5vw;
  padding-top: 0.8vw;
}
.sponsor_tag{
  color: #bebebe;
  font-family: sans-serif;
  /* margin-top: 0.5vh; */
  text-align: center;
  font-style: italic;
  font-size: 1.2vw;
  padding-bottom: 2vw;
}

.heading2{
  font-size: 2.3vw;
  font-weight: 600;
  padding-bottom: 5vw;
}

.sponsors{
  display: grid;
  /* flex-wrap: nowrap; */
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
  row-gap: 10vh;
  column-gap: 2vw;
  margin: 0 auto;
}

.sponsorimg{
  width: 13vw;
  aspect-ratio: 1/1;
  object-fit: contain;
}

#name {
  font-size: 1vw;
  padding-bottom: 1vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#partner {
  font-size: 1.2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

@media (max-width: 1442px) {
  #sponsorimg{
     width: 13vw;
     height: 22vh;
  }
} 

@media screen and (max-width: 1370px) {  
  .coming_soon h2{
    font-size: 10vw;
  }
  
  .coming_soon h5{
    font-size: 4vw;
  }
}

@media (max-width: 1027px ),( max-height: 1362px ) {
  #sponsorimg{
    width: 12vw;
    height: 19vh;
    padding-bottom: 2vw;
  }
  .name{
    height: 3vw;
    font-size: 6vw;
  }
  .partner{
    font-size: 3vw;
  }
  .title{
    height: 40%;
  }
  .App h1{
    /* font-size: 4vh; */
  }
}

@media (max-width: 914px){
  .App h1{
    font-size: 3vh;
  }
  .first_head_spon{
    font-size: 4.5vh !important;
  }
  .sponsors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4vh;
  }
}

@media (max-width: 431px){
  
  #name{
    font-size: 1vh;
    padding-top: 3vw;
  }

  .first_head_spon{
    font-size: 4vh !important;
  }
  
  .sponsors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 6vh;
  }
  .App h1{
    font-size: 2vh;
  }
  
  #design{
    margin-top: 1.2vh;
    height: 11.5vw;
  }
  #designct{
    margin-bottom: 3vh;
    padding-right: 2.5vw;
  }
  #partner{
    font-size: 1.3vh;
    padding-top: 1vh;
  }
  .heading2{
    font-size: 1.6vh;
    padding: 10px 0;
  }

} 

