* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text1: 10vh;
  --text2: 3.5vh;
  --text3: 3vh;
  --text4: 2vh;
  --text5: 6vh;
  --font1: "FONTSPRING DEMO - Freigeist Con Bold";
  --font2: "Uncut Sans";
  --font3: "Cruyff Sans";
}
@-webkit-keyframes cspin {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(+15px);
  }
}

@-moz-keyframes cspin {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(+15px);
  }
}

@keyframes cspin {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(+15px);
  }
}

body::-webkit-scrollbar {
  width: 0;
}

main {
  background-color: #141414;
  color: #e8edd9;
  overflow: hidden;
  background-image: url("./resources/TexturePattern.jpg");
  background-blend-mode: color-burn;
}

.hero-section {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hand_upper {
  width: 40%;
  position: absolute;
  left: 0;
  top: 10dvh;
  -webkit-animation: cspin 8s ease-in-out infinite;
  -moz-animation: cspin 8s ease-in-out infinite;
  animation: cspin 8s ease-in-out infinite;
}

.hand_lower {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 10dvh;
  -webkit-animation: cspin 8s ease-in-out infinite;
  -moz-animation: cspin 8s ease-in-out infinite;
  animation: cspin 8s ease-in-out infinite;
}

.heading {
  font-size: var(--text1);
  font-weight: 600;
}

.button {
  width: fit-content;
  padding: 0.5rem;
  background-color: #fa5045;
  border-radius: 1.5rem;
}
.card-section {
  width: 100%;
  height: fit-content;
}
.head {
  width: 80%;
  height: 10vh;
  margin: 10% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.name {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 10px;
  z-index: 100;
  align-items: center;
}
.name span {
  font-size: 10vw;
  font-weight: 600;
}
.head p {
  margin-top: 2px;
  font-size: var(--text4);
  font-weight: 300;
  width: 100%;
}

.card {
  width: 100%;
  padding: 1rem;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left*/
.coming-soon-left {
  position: absolute;
  top: -10vh;
  left: 3vw;
  padding-right: 1rem;
  z-index: 10;
  width: 50%;
  height: auto;
}
.details-left {
  width: 90%;
  height: 60%;
  padding: 2rem;
  position: absolute;
  bottom: 1%;
  background-color: #5965c7;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-left {
  padding: 2%;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-left h4 {
  width: 100%;
  font-size: var(--text2);
  font-weight: 600;
}
.wrap-left p{
  font-size: var(--text4);
}
/* right */
.coming-soon-right {
  position: absolute;
  top: -10vh;
  right: 3vw;
  padding-left: 1rem;
  z-index: 10;
  width: 50%;
  height: auto;
}
.details-right {
  width: 90%;
  height: 60%;
  padding: 2rem;
  position: absolute;
  bottom: 1%;
  background-color: #5965c7;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-right {
  padding: 0 1% 0 3%;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-right h4 {
  width: 100%;
  font-size: var(--text2);
  font-weight: 600;
}
.wrap-right p{
  font-size: var(--text4);
}

/* dropdown */
.dropdown {
  opacity: 0;
  background-color: #fa5045;
  z-index: 100;
  position: absolute;
  left: 0;
  /* top: 8vh; */
  width: 85%;
  border: 2px solid white;
  border-radius: 5px;
  pointer-events: none;
}
.dropdown ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.dropdown > ul > li {
  padding: 5px 0;
  width: 80%;
  border-bottom: 1px solid white;
  text-align: center;
}
.dropdown > ul > li:last-child {
  border-bottom: none;
}
.blur{
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  min-height: 280%;
  background-color: rgba(255, 255, 255, 0.294);
  backdrop-filter: blur(2px);
  pointer-events: none;
}
.temp-gap{
  height: 10vh;
}
