html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  -ms-content-zooming: none disable browser zoom;
  background-image: url("/TexturePattern.jpg");
  /* background-blend-mode: color-burn; */
  background-color: #141414;
}
canvas {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}





.clock_div {
  width: 15px;
  height: 8px;
  position: relative;
}

.clock_font {
  position: absolute !important;
  top: 20% !important;
  width: 100%;
  height: 100%;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#days_to_go {
  display: flex;
  flex-direction: column;
}



#info {
  position: absolute;
  top: 10px;
  right: 295px;
  text-align: right;
  background: #181c20;
  color: #8c92a4;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  pointer-events: none;
  font-family: var(--leva-fonts-mono);
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}

.annotationDescription {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  color: white;
  font-family: UncutSans;
  border-radius: 0.5em;
  display: block;
}

/* @font-face {
  font-family: 'my-custom-font';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  src: url('public/assets/clock.ttf');                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
} */

.return-home {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: white;
  padding: 3%;
  border-radius: 50%;
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 9%, 0.3);
  border: none;
  outline: none;
}
.return-home-dummy {
  width: 10%;
  font-size: larger;
}
.blur-home {
  padding: 0 1%;
  border-radius: 0.5rem;
  min-width: 35vmax;
  /* width: max-content; */
  font-family: Helvetica, sans-serif;
  /* backdrop-filter: blur(2px); */
  background-color: hsla(0, 0%, 9%, 0.3);
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  box-sizing: content-box;
}
.flex-container-home {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: CruffySans;
  font-weight: 400 !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.blur-home p {
  text-align: justify;
  display: flex;
  align-items: center;
  font-family: UncutSans !important;
}
.title-home {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #f22c5b 0%,
    #ff8835 17.5%,
    #9ccd5d 34.5%,
    #3083ea 51%,
    #b357b6 67%,
    #39a27a 83.5%,
    #fa5045 100%
  );
  background-repeat: repeat;
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shift 10s linear infinite;
  animation-delay: 2s;
}
.title-home a {
  padding: 0 5%;
}
@keyframes shift {
  10% {
    background-position: 0% 0%;
  }
  70% {
    background-position: 100% 100%;
  }
  90% {
    background-position: 0% 0%;
  }
}
.title-home svg {
  color: linear-gradient(90deg, #f2ac2c, #ff8835, #9ccd5d, #3083ea);
}
@font-face {
  font-family: "basicHeading";
  src: url("/UncutSans.ttf") format("truetype");
  font-family: "demoFont";
  src: url("/demo.otf") format ("truetype");
}

.threeD_2dwrapper {
  width: 100%;
  -ms-content-zooming: none disable browser zoom;
  background-image: url("/TexturePattern.jpg");
  /* background-blend-mode: color-burn; */
  background-color: #141414;
  padding-bottom: 30vh;
}

.mainContainer {
  width: 100%;
  height: 100%;
}
.videoWrapper {
  position: relative;
  top: 10vh;
  width: 80%;
  margin: 0px auto;
  height: 80vh;
  border-radius: 1.2rem;
  background-color: #39a27a;
  transform: rotate(2deg);
}
.videoBox {
  width: 99%;
  margin: 0px auto;
  aspect-ratio: 2519/1034;
  height: 99%;
  background-color: #7266f8;
  border-radius: 1.2rem;
  transform: rotate(-2deg);
  overflow: hidden;
}
iframe {
  width: 100%;
  height: 100%;
}
.title-hover-home {
  position: absolute;
  top: -100%;
  width: max-content;
  text-align: center;
  font-weight: 700;
}
.flex-container {
  display: flex;
  height: min-content;
  position: absolute;
}

.decorationContainer {
  margin-top: 20rem;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left .right {
  width: 20%;
}

.centerDiv {
  width: 60%;
  position: relative;
  height: fit-content;
}

.animation-container {
  width: 100%;
  position: absolute;
  top: 48%;
  z-index: 2;
}

.image {
  width: 100%;
}

.center_image {
  position: relative;
  display: block;
  width: 90%;
  height: 95vh;
  margin: 0px auto;
  z-index: 1;
}

.merchSection {
  margin-top: 10rem;
  width: 100%;
  height: 70vh;
}
.mainImage {
  position: relative;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.sponsor_homepage {
  margin: 15rem 0px;
  width: 100%;
  height: fit-content;
}

.img_text_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  align-items: center;
  margin-top: 0rem;
}
.text_sponsor_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_sponsor_content h1 {
  position: relative;
  bottom: 10vh;
  color: #aadcdb;
  font-weight: 850;
  font-size: 4.5vw;
  font-family: FontSpringText;
}

.text_sponsor_content span {
  color: #f12353;
  font-size: 4.2vw;
  font-weight: 700;
  font-family: CruffySans;
}

.text_sponsor_content h2 {
  color: #ffffff;
  font-size: 4.2vw;
  font-weight: 700;
  font-family: CruffySans;
}

.text_sponsor_content p {
  color: #ffffff;
  margin-top: 1.4rem;
  font-size: 1.8vw;
  font-family: UncutSans;
}
.splide {
  width: 90%;
  margin: 0px auto;
  z-index: 10;
}
.splide__slide img {
  height: 20vh;
}

#leftGate {
  display: block;
  position: absolute;
  left: 0;
  height: 45vh;
  top: -10vh;
}
#rightGate {
  display: block;
  position: absolute;
  height: 45vh;
  right: 0;
  top: -10vh;
}
.passesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}
#getYour {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-family: UncutSans;
  font-weight: 900;
}

#alcherPass {
  color: #f22c5b;
  font-size: 3rem;
  margin-bottom: 1.4rem;
  font-family: CruffySans;
}

#registerBtn {
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 1rem;
  color: white;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #f22c5b;
  cursor: pointer;
  font-family: CruffySans;
}
.cardHoverSection {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;
  height: fit-content;
  position: relative;
}
.cardHoverSection img {
  width: 30vw;
  transform: rotate(-98deg);
}
#cardHoverLeft {
  transform: rotate(0deg) scale(1.2);
  position: absolute;
  left: 20vw;
  transition: all 0.4s ease-in-out;
}
#cardHoverRight {
  position: absolute;
  transform: rotate(0deg) scale(1.2);
  top: 1vh;
  left: 46vw;
  transition: all 0.4s ease-in-out;
}

.cardHoverSection.hovered #cardHoverLeft {
  transform: rotate(-10deg);
}

.cardHoverSection.hovered #cardHoverRight {
  transform: rotate(10deg);
}

/* #cardHoverLeft:hover{
  transform: rotate(60deg);
}
#cardHoverRight:hover{
  transform: rotate(-60deg);
} */

.threeDWrapper {
  width: 100%;
  height: calc(100dvh - 6dvw);
  position: relative;
  overflow: hidden;
}

#ui_home {
  position: absolute;
  bottom: 5vh;
  width: fit-content;
  height: fit-content;
  left: 50%;
  translate: -50%;
}

.content-btn {
  font-size: 2.5rem;
  position: relative;
  color: white;
  opacity: 1;
  cursor: pointer;
  animation: moveUpDown 2s ease-in-out infinite;
}

.getAppSection {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 6rem;
  display: flex;
}
#upperHand {
  position: absolute;
  right: 0;
  width: 25vw;
}
#lowerHand {
  position: absolute;
  left: 0;
  bottom: -5vh;
  width: 25vw;
}
.textSection {
  margin-top: 10vh;
  width: 50%;
}
.imageWrapper {
  width: 50%;
  /* height: 100%; */
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.home_alcher_app_container {
  width: 87%;
  height: 87%;
  position: relative;
}
.home_alcher_app_container > img {
  position: absolute;
  left: 0;
  top: 18vh;
  width: 100%;
  /* height: 100%; */
  height: auto;
  transform: scale(1);
}

#text_home {
  height: 100%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text_home h1 {
  color: #aadcdb;
  font-size: 3.8vw;
  text-align: left;
  font-family: FontSpringText;
}

#text_home p {
  margin-top: 2vh;
  font-size: 1.2vw;
  font-family: UncutSans;
  color: white;
}

#appDownloadBtn {
  align-self: flex-start;
}

.googlePlayImage {
  width: 15vw;
  position: relative;
  top: 3vh;
  cursor: pointer;
}

.alcher_merch_section {
  padding-top: 10vh;
  text-align: center;

  /* display: none; */
}

.alcher_merch_section h1 {
  color: #aadcdb;
  font-weight: 850;
  font-size: 5.5vw;
  font-family: FontSpringText;
  margin-bottom: -5vh;
}

.merch_holder {
  /* background-image: url('./resources/home_merch_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  justify-content: center;
}

.alcher_merch_section p {
  color: #ffffff;
  margin-top: -4vh;
  font-size: 2vw;
  font-family: UncutSans;
}

.buy_merch_button {
  font-size: 2vw;
  margin-top: 2vh;
  background-color: #f01347;
  padding: 0.2vw 1vw;
  border-radius: 2vw;
  border: 0;
  font-weight: 400;
  cursor: pointer;
}

.alcher_merch_coming_soon {
  padding-top: 10vh;
  text-align: center;

  display: none;
}

.alcher_merch_coming_soon h1 {
  color: #aadcdb;
  font-weight: 850;
  font-size: 5.5vw;
  font-family: FontSpringText;
}

.alcher_merch_coming_soon span {
  color: #f12353;
  font-size: 4.2vw;
  font-weight: 700;
  font-family: CruffySans;
}

.alcher_merch_coming_soon h2 {
  color: #ffffff;
  font-size: 4.2vw;
  font-weight: 700;
  font-family: CruffySans;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 912px) {
  .alcher_merch_section p {
    font-size: 3vw;
  }

  .buy_merch_button {
    font-size: 3vw;
    font-weight: 700;
  }
  .threeD_2dwrapper {
    padding-bottom: 10vh;
  }

  .decorationContainer {
    margin-top: 0rem;
  }
  .splide__slide {
    margin: 0px 5rem;
  }
  .sponsor_homepage {
    margin-top: 5rem;
  }
  #cardHoverLeft {
    transform: rotate(10deg);
    left: 25vw;
  }
  #cardHoverRight {
    transform: rotate(-10deg);
    left: 44vw;
  }
  .cardHoverSection {
    margin-top: 2rem;
  }
  .videoWrapper {
    height: 50vh;
  }
  .getAppSection {
    height: 60%;
  }

  .imageWrapper {
    height: 45vh;
  }
  #leftGate {
    height: 35vh;
  }
  #rightGate {
    height: 35vh;
  }
  .home_alcher_app_container > img {
    top: 10vh;
  }

  .alcher_merch_section {
    padding-top: 0vh;
  }

  .alcher_merch_coming_soon {
    padding-top: 0vh;
  }
}

@media screen and (max-width: 1025px) {
  .threeDWrapper {
    height: calc(100dvh - 9dvw);
  }
}
/* #cardHoverLeft{
    left:24vw;
  }
  .videoWrapper{
    height:54vh
  }
  .getAppSection{
    height:60%;
  }
  #text h1{
    font-size: 3.2vw;
  }
  #text p{
    font-size: 1.2vw;
  }
  .imageWrapper{
    height:45vh;
  }
  .alcher_app>img{
    transform: scale(1);
  }

}
*/
@media screen and (max-width: 550px) {
  .decorationContainer {
    margin-top: 0rem;
  }

  #alcherPass {
    font-size: 2.5rem;
  }

  .imageWrapper {
    height: 50vh;
  }

  #text_home {
    margin-left: 2rem;
  }

  .textSection {
    margin-top: 5vh;
  }
  .cardHoverSection {
    transform: scale(1.4);
  }
  .left,
  .right {
    width: 28%;
  }
}

@media screen and (max-width: 420px) {
  /* .threeDWrapper div:first-child div {
    height: 40%!important;
  } */

  .decorationContainer {
    margin-top: 0rem;
  }
  #leftGate,
  #rightGate {
    height: 28vh;
  }
  .sponsor_homepage {
    margin-top: 0;
  }
  .sponsorImage {
    width: 100px;
    height: 100px;
  }
  #alcherPass {
    font-size: 1.8rem;
  }
  .cardHoverSection {
    margin-top: 2rem;
  }

  #cardHoverLeft,
  #cardHoverRight {
    transform: scale(1.4);
  }
  .videoWrapper {
    height: 34vh;
    width: 90%;
  }
  #registerBtn {
    font-size: 1rem;
  }

  .getAppSection {
    height: 40%;
  }

  .home_alcher_app_container > img {
    top: 10vh;
  }

  #text_home p {
    font-size: 1.2vw;
  }

  .imageWrapper {
    height: 39vh;
  }
}

@media screen and (max-width: 300px) {
  #getYour {
    font-size: 0.9rem;
  }
  #alcherPass {
    font-size: 1.2rem;
  }
  .decorationContainer {
    margin-top: 0rem;
  }
  .getAppSection {
    height: 35%;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .getAppSection {
    height: 100%;
  }
  #text_home h1 {
    font-size: 2vw;
  }
  .imageWrapper {
    transform: scale(1.2);
    margin-top: 4rem;
    width: 34%;
    height: 93%;
  }
}

.x-A {
  translate: -47%;
}
.x-B {
  translate: -47%;
}
.x-C {
  translate: -47%;
}
.x-D {
  translate: -41%;
}
.x-E {
  translate: -47%;
}
.x-F {
  translate: -45%;
}
.x-G {
  translate: -48%;
}
.x-H {
  translate: -47%;
}
.x-I {
  translate: -45%;
}
